<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.mapper.UsuarioMapper">

<resultMap type="br.gov.cgsus.gerenciamentocontrato.domain.UsuarioContrato" id="UsuarioResultMap">
	<result property="usuario.nome" column="nome_usuario"/>
	
	<result property="contrato.id" column="id_contrato"/>
	<result property="contrato.numero" column="numero_contrato"/>
	<result property="contrato.ano" column="ano_contrato"/>
	
</resultMap>

<resultMap type="br.gov.cgsus.gerenciamentocontrato.domain.Usuario" id="UsuarioMap">
	<id property="id" column="id"/>
	<result property="nome" column="nome"/>
	<result property="email" column="email"/>
	<result property="cpf" column="cpf"/>
	<result property="senha" column="senha"/>
</resultMap>

<resultMap type="br.gov.cgsus.gerenciamentocontrato.domain.Perfil" id="PerfilResultMap">
	<id property="id" column="id"/>
	<result property="nome" column="nome"/>
</resultMap>

<resultMap type="br.gov.cgsus.gerenciamentocontrato.domain.UsuarioContrato" id="UsuarioContratoResultMap">
	<result property="usuario.id" column="id"/>
	<result property="usuario.nome" column="nome_usuario"/>
	
	<result property="contrato.id" column="id_contrato"/>
	<result property="contrato.numero" column="numero"/>
	<result property="contrato.ano" column="ano"/>
	
	<result property="perfil.id" column="id_perfil"/>
	<result property="perfil.nome" column="nome_perfil"/>
	
</resultMap>

  <insert id="inserir" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.Usuario">
  	<selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Integer">
    	SELECT nextval('seq_usuario')
  	</selectKey>
  	insert into usuario
  	(id,
  	nome,
  	email,
  	cpf,
  	senha)
  	values 
  	(#{id},
  	 #{nome},
  	 #{email},
  	 #{cpf},
  	 #{senha}
  	)
  </insert>
  
  <select id="selectByEmailSenha" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.Usuario" resultMap="UsuarioMap">
  	select u.* from usuario u where u.email=#{email} and senha=#{senha};
  </select>
  
  <select id="selectUsuarioContratobkp" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.Usuario" resultMap="UsuarioResultMap">
  	select u.* from usuario u, usuario_contrato uc, contrato c where u.email=#{email} and senha=#{senha} and uc.id_usuario = u.id and uc.id_contrato=c.id ;
  </select>
  
  <select id="selectAll" resultMap="UsuarioMap">
  	select * from usuario u;
  </select>
  
  <select id="selectPerfil" resultMap="PerfilResultMap">
  	select * from perfil p;
  </select>
  
  <insert id="vincularUsuarioAoContrato" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.UsuarioContrato">
  	
  	insert into usuario_contrato
  	(id_usuario,
  	id_contrato,
  	id_perfil)
  	values 
  	(#{usuario.id},
  	 #{contrato.id},
  	 #{perfil.id}
  	)
  </insert>
  
  <select id="selectUsuarioContrato" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.Usuario" resultMap="UsuarioContratoResultMap">
  	SELECT u.id, u.nome as nome_usuario, c.id as id_contrato, c.numero, c.ano, p.id as id_perfil ,p.nome as nome_perfil
  	FROM public.usuario_contrato uc, usuario u, contrato c, perfil p where uc.id_usuario=u.id and uc.id_contrato=c.id and uc.id_perfil=p.id and u.id=#{id};
  </select>
  
  <update id="alteraSenha" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.Usuario">
  	update usuario set senha=#{senha} where id=#{id};
  </update>
  
  <update id="alteraUsuario" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.Usuario">
  	update usuario set nome=#{nome},cpf=#{cpf}, email=#{email} where id=#{id};
  </update>
  
  <select id="selectUsuarioIsAdmin" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.UsuarioContrato" resultType="java.lang.String">
  	select 1 from public.usuario_contrato uc where id_perfil=1 and id_contrato=#{contrato.id} and id_usuario=#{usuario.id}
  </select>
  
  <select id="selectUsuarioTemPerfil" parameterType="java.util.Map" resultType="java.lang.String">
  	select 1 from public.usuario_contrato uc, public.usuario_funcionalidade uf where uc.id_contrato=#{id_contrato} and id_usuario=#{id_usuario}  and id_funcionalidade=#{id_funcionalidade} and uc.id_perfil=uf.id_perfil;
  </select>
  
  <select id="selectPerfilUsuario" parameterType="br.gov.cgsus.gerenciamentocontrato.domain.UsuarioContrato" resultType="java.lang.Integer">
  	select id_perfil from usuario_contrato where id_usuario=#{usuario.id} and id_contrato=#{contrato.id};
  </select>
  
  
</mapper>